.user__form {
  margin: 2.5rem auto;
}

.user__form label {
  font-size: 1rem;
  font-weight: bold;
}

.user__form input {
  padding: 5px 10px;
  border: 1px solid #888;
  font-size: 1rem;
}

.user__form input:focus {
  outline: none;
  border-color: salmon;
  background-color: #fa807269;
}
